:root {
	--text-color: black;
	--border-color: black;
	--background-color: rgb(242, 242, 242);
	--url-gradient: linear-gradient(35deg, rgb(153, 0, 0), rgb(117, 0, 235));
	--caret-color: rgb(107, 107, 107);
}

@media (prefers-color-scheme: dark) {
:root {
	--text-color: white;
	--border-color: white;
	--background-color: rgb(41, 41, 41);
	--url-gradient: linear-gradient(35deg, rgb(194, 133, 255), rgb(255, 97, 97));
	--caret-color: rgb(181, 181, 181);
}}

body {
	color: var(--text-color);
	margin: 4px;
	font-family: "Arial";
	background-color: var(--background-color);
}

#display_list {
	margin: 0;
	padding: 0;
	width: 350px;
	min-height: 150px;
}

#navbar {
	background-color: inherit;
	position: sticky;
	top: 0;
	left: 0;
	margin-top: 2px;
	padding: 4px;
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
}

#navbar button {
	color: inherit;
	padding: 5px 6px;
	background-color: inherit;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
}

#navbar button:nth-child(2) {
	margin-left: 2px;
}

#navbar button:nth-child(3) {
	margin-left: 5px;
}

#navbar input {
	color: inherit;
	width: 267px;
	height: 28px;
	margin-left: 2px;
	margin-right: 2px;
	padding: 0 6px;
	background-color: inherit;
	border-color: var(--border-color);
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
}

#list_container {
	min-height: 150px;
	max-height: 560px;
	overflow-x: scroll;
}

#display_list {
	list-style: none;
	margin-left: 5px;
}

.selected {
	background-color: rgba(51, 228, 228, 0.45);
}

#context_background {
	top: 0;
	left: 0;
	z-index:  1;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
}

#context_menu {
	zoom: 120%;
	position: absolute;
	z-index: 2;
	background-color: inherit;
	padding: 5px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
}

#context_menu a {
	margin-top: 2px;
}

#modal {
	zoom: 110%;
	position: absolute;
	z-index: 3;
	background-color: inherit;
	padding: 5px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: var(--border-color);
}

#modal input {
	color: inherit;
	background-color: inherit;
	border-color: var(--border-color);
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	margin-bottom: 3px;
}

#modal button:nth-child(1) {
	margin-right: 3px;
}

#modal_buttons {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	justify-content: flex-end;
	margin-left: auto; 
	margin-right: 0;
}

.link > i, .link > i > img {
	color: rgb(19, 122, 225);
	width: 16px;
	height: 16px;
	margin-right: 3px;
}

.link span, .folder span {
	cursor: default;
	font-size: 0.9rem;
}

.link small {
	zoom: 130%;
	background: var(--url-gradient);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.folder .fa-caret-right, .folder .fa-caret-down {
	zoom: 130%;
	width: 10px;
	color: var(--caret-color);
}

.folder .fa-folder {
	zoom: 130%;
	margin-top: 2px;
	color: rgba(237, 94, 27, 0.8);
	width: 16px;
	height: 16px;
}

@keyframes move_obj {
	0%   { top: 200px; left: 200px; opacity: 0.5;}
	20%   { top: 100px; left: 100px; opacity: 1;}
	100%  { top: -200px; left: -200px; opacity: 1;}
}

#saucer {
	z-index: -1;
	opacity: 0;
	position: absolute;
	transform: scale(0.3);
}

#cow {
	z-index: -1;
	opacity: 0;
	transform: scale(0.08);
	margin-top: -110px;
	margin-left: -275px;
	position: absolute;
}

.anim {
	animation: move_obj 15s;
	animation-iteration-count: 1;
	animation-delay: 3s;
}

.expand {
	list-style: none;
	padding-left: 15px;
}

.fa-check {
	zoom: 130%;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	color: lightgreen !important;
}

.fa-star {
	zoom: 130%;
	width: 16px;
	height: 16px;
	margin-top: 2px;
	margin-right: 0 !important;
}